.docs-content > h2[id]::before,
.docs-content > h3[id]::before,
.docs-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}

.anchor {
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

.card-list {
  margin-top: 2.25rem;
}

.page-footer-meta {
  margin-top: 3rem;
}

.edit-page,
.last-modified {
  font-size: $font-size-sm;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@include media-breakpoint-up(md) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }
}

.edit-page svg,
.last-modified svg {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}

.page-link:hover {
  text-decoration: none;
}

/*Marginal Notes on Desktop*/
.marginal {
  display: block;
  max-width: 20rem;
  float: right;
  position: relative;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 14px;
  color: black;
  clear: right;
  background-color: aliceblue;
  padding: 0.5rem;
}

/*Marginal Link*/
.marginal-link {
  display: inline;
}

/*Marginal Notes on Desktop*/
.content-block {
  display: block;
  width: 100%;
  scroll-behavior: smooth;
}

/*Mobile Styles*/
@media (max-width: 576px) {
  .marginal {
    display: block;
    max-width: none;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    float: none;
    font-size: 14px;
    color: black;
    background-color: aliceblue;
    padding: 0.5rem;
  }

  .marginal-link {
    display: none;
  }

  .content-block {
    display: block;
    width: 100%;
    scroll-behavior: smooth;
  }
}