{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4"><a href=https://1313-flicstar-tgdphandbook-h9i9682tefi.ws-us94.gitpod.io/docs/get-involved/welcome/>Get onboarded 🚢</a></h2>
          <p>New to our project? Find out about welcome wagons, GIT training sessions, contribution guidelines, and more.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4"><a href=https://1313-flicstar-tgdphandbook-gzspzgwt509.ws-us93.gitpod.io/docs/about-our-community/community-calendar/>Calendar 📅</a></h2>
          <p>Find all our events, including the general project meetings, welcome wagons and working group sessions.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4"><a href=https://1313-flicstar-tgdphandbook-h9i9682tefi.ws-us94.gitpod.io/docs/templates/contributing-guidelines/>Templates 📄</a></h2>
          <p>Contribute a template to our project! Work with other tech writers to create a quality template and call yourself a templateer. </p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4"><a href=https://1313-flicstar-tgdphandbook-h9i9682tefi.ws-us94.gitpod.io/docs/style-guide/project-style/>Style guide ✒</a></h2>
          <p>Consult our style guide rules about how we write our templates, and other writing guidelines for our project.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4"><a href=https://1313-flicstar-tgdphandbook-gzspzgwt509.ws-us93.gitpod.io/docs/about-the-project/intro/>About us 🐙</a></h2>
          <p>Get the lowdown on what The Good Docs Project is all about, who we are, and what drives us.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
